body {
background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&");
font-family: "Noto Sans JP", sans-serif;
}

.container {
  margin-left: 83px;
  margin-right: auto;
  width: 960px;
}

form {
  padding-top: 50px;
  margin: 0px;
}

#search-text-input {
  padding: 10px;
  margin-right: 10px;
  padding: 10px;
}

#search-Button,
#location-search {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-blend-mode: screen;
  border-color: #175053;
}

#search-text-input,
#search-Button,
#location-search {
border-radius: 20px;
margin-right: 14px;
padding: 13px;
}

h1 {
    padding-top: 34px;
    font-size: 56px;
}

h4 {
  font-size: 25px;
}

h1,
h4 {
  color: #ffffff;
  text-shadow: 0 3 5px rgb(12, 10, 10), 0 0 3px, #fff;
  padding-left: 4px;
  margin-top: -5px;
}

h5 {
    padding-left: 8px;
    margin-top: 14px;
    opacity: 0.7;
    padding-bottom: 31px;
    font-size: 15px;
    color: rgb(26, 24, 24);
}

ul {
  margin-top: 64px;
  margin-bottom: -50px;
}

.infoBox {
    text-shadow: 0 3 5px rgb(12, 10, 10), 0 0 3px, #fff;
    max-width: 522px;
    padding-top: 21px;
    padding-left: 5px;
    padding-bottom: 40px;
}

.conditionBox {
    text-shadow: 0 3 5px rgb(12, 10, 10), 0 0 3px, #fff;
    text-transform: capitalize;
    margin-left: 54%;
    left: 57px;
    bottom: 321px;
}

.conditionBox,
.infoBox {
  color: #ffffff;
  width: 486px;
  height: 320px;
  box-shadow: 6px 1px 3px 1px rgb(10, 133, 214);
  position: relative;
  border: 1px transparent #3d3b3b;
  border-radius: 28px; 
  background-image: url("https://images.unsplash.com/photo-1588421357538-7c22591e4f90?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTh8fGJsdWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
}

.elements ul {
  list-style-type: none;
  padding-top: 21px;
  padding-left: 5px;
}

.elements li {
  position: relative;
  padding: 25px;
  padding-top: 5;
  padding-left: 16px;
  font-size: 20px;
  bottom: 106px;
}

.data ul {
  position: relative;
  max-width: 421px;
  top: -265px;
  height: 300px;
  list-style-type: none;
  top: 46px;
  padding-left: 28%;
  font-size: 20px;
  margin-bottom: -300px;
}

.data li {
   position: relative;
    padding: 24px;
    font-size: 20px;
    top: -475px;
    left: 77%;
}

#currentEmoji {
  position: relative;
  font-size: 170px;
  top: -239px;
  left: -13px;
}

p {
    font-size: 30px;
    padding-left: 43px;
    padding-top: 18px;
    margin-bottom: -2rem;
}

.temperature {
  position: relative;
  padding-left: 59%;
  top: 75px;
  font-size: 88px;
}

a:link {
  text-decoration: none;
  color:#fff;
  position: relative;
  padding-left: 84%;
  top: -50px;
  font-size: 20px;

}

.feel {
  position: relative;
  padding-left: 59%;
  text-align: center;
  bottom: -56px;
  font-size: 17px;
}

#feel {
  position: relative;
  padding-left: 60%;
  text-align: center;
  bottom: 45px;
  font-size: 17px;
}

#feelDegree {
  position: relative;
  padding-left: 67%;
  text-align: center;
  bottom: 38px;
  font-size: 17px;
}

.weather-forecast {
  margin-top:-222px; 
  padding-bottom:600px;
  width:119%;
  color:rgb(70, 70, 70);

}

.weather-forecast h3 {
  font-size:14px; 
  font-weight:400; 
  text-align:center; 
  height:15px; 
  line-height: 15px; 
  padding-top:7px; 
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
  top: -5px;
}

.weather-forecast-temperature {
  text-align: center;
  opacity: 0.7;
  font-size: 13px; 
  font-weight: 400;
  height:auto; 
  line-height:15px; 
}

i {
  font-size: 70px;
}

